<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-pushpin"></span> Map</a>
      </li>
      <li>
        <a href="/posts"><span class="glyphicon glyphicon-list-alt"></span>Missing Snakes</a>
      </li>
      <li>
        <a href="/sightings"><span class="glyphicon glyphicon-list-alt"></span>Sightings</a>
      </li>
      
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
        <a href="#"><span class="glyphicon glyphicon-book"></span> REPORT:</a>
      </li>
         <li>
        <a href="/lost"><span class="glyphicon glyphicon-alert"></span> Lost</a>
      </li>
      <li>
        <a href="/seen"><span class="glyphicon glyphicon-eye-open"></span> Seen</a>
      </li>

   
    </ul>
  </div>
</nav>
