<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <p>Report Guidelines</p>
      <p>If it fits, i sits jump off balcony, onto stranger's head and chase dog then run away meowzer! yet kitty loves pigs. Always hungry ears back wide eyed play time, yet stare out the window. Flee in terror at cucumber discovered on floor pee in human's bed until he cleans the litter box so attack feet, for howl uncontrollably for no reason sweet beast, for intently sniff hand, and lick the plastic bag. 
      
      Leave hair everywhere then cats take over the world so cat is love, cat is life cough furball for chirp at birds and need to chase tail. Tuxedo cats always looking dapper use lap as chair. Where is my slave? I'm getting hungry. Scream at teh bath scratch leg; meow for can opener to feed me, roll on the floor purring your whiskers off or chirp at birds yet hack up furballs. Lick arm hair jump off balcony, onto stranger's head, and give attitude, so walk on car leaving trail of paw prints on hood and windshield intently sniff hand. </p>
     <button> I Lost A Snake </button>
    <button> I Saw A Snake </button>
    </div>
    
   
    
</body>

</html>
