<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div class="jumbotron text-center">
    <p>I'm the index page, I'm pretty cool huh?</p>
    <p>This is where my snakes will go.</p>
  </div>
</body>

</html>