<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <p>I'm the index page, I'm pretty cool huh?</p>
    </div>
    
    <div id="map"></div>
    <% include ../partials/map.ejs %>
</body>

</html>
