<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <style>
   #map { height: 400px; width: 600px;}
  </style>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>I've Lost A Snake</h2>

  <form action="/lost" method="post">
      <div> <label>Snake Species:</label>
        <select class="form-control" id="snake_species">
          <option>Scarlet King Snake</option>
          <option>Eastern Milk Snake</option>
          <option>Corn Snake</option>
          <option>Brown Water Snake</option>
        </select>
      </div>
    <div>
        <label>Owner Name:</label>
        <input id="owner_name" class="form-control" type="text" name="owner_name">
    </div>
    <div>
        <label>Snake Name:</label>
        <input id="snake_name" class="form-control" type="text" name="snake_name">
    </div>
    <div>
        <label>Phone:</label>
        <input id="contact_phone" class="form-control" type="text" name="contact_phone">
    </div>
    <div>
        <label>E-mail:</label>
        <input id="contact_email" class="form-control" type="text" name="contact_email">
    </div>
    <div>
        <label>Location (lat/long):</label>
        <input id="latitude" type="text" name="latitude" placeholder="click on map">
        <input id="longitude" type="text" name="longitude" placeholder="click on map">
        <input type="submit" value="Send">
    </div>

  </form>
</div> 

<div id="map"></div>
<% include ../partials/map.ejs %>
<% include ../partials/mapclick.ejs %>

</body>
</html>
