<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
    <style>
      #map { height: 500px; width: 65%;}
    </style>
</head>

<body>
  <% include ../partials/nav.ejs %>
    
  <div id="map"></div>
    
  <% include ../partials/map.ejs %>

</body>

</html>

