<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Test Submission</h2>

<form action="/test" method="post">
    <div>
      <label for="name">Name:</label>
      <input id="name" type="text" name="name">
    </div>
      <input type="submit" value="Test">
</form>

</div>

</body>
</html>
